.biopage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: 100vh;
    background-color: #050505;
    padding: 20px;
}

.biopage img {
    border-radius: 50%;
    width: 300px;
    height: 300px;
    object-fit: cover;
    margin-bottom: 20px;
}

.biopage h2 {
    font-size: 2em;
    color: white;
    margin-bottom: 10px;
}

.biopage h3 {
    font-size: 1.5em;
    color: white;
    margin-bottom: 20px;
}

.biopage p {
    font-size: 1.2em;
    max-width: 900px;
    color: white;
}

.cont-bio {
    background-color: #4feaea;
    padding: 10px 20px;
    font-size: 1.2em;
    border: 1px solid white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}
.cont-bio a{
    text-decoration: none;
    color: white;
}
.navbar {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
}

.navbar-title h2 {
    margin: 0;
}

.navbar-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-links li {
    margin-left: 20px;
}

.navbar-links a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
}

.navbar-links a:hover {
    color: #007BFF;
}

.navbar-links h3 {
    margin: 0;
}